body
{
	background-color: #232323; 
}
.square
{
	margin: 1.66%;
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
}
#container
{
	margin: 0 auto;
	max-width: 600px;
}
h1
{
	color: white;
}